//-Aquí creamos las variables y los objetos que vayamos a necesitar


//-SEO
-
    const seo = {
        index : ['Quienes Somos', 'Nosotros empezamos un dia soleado...'],
        galeria : ['Galeria', 'Conjunto de fotos de proyecto...'],
        contactar : ['Contactar', 'Contacta con nosotros...'],
        url : ['htpp://www.miweb.com']
    }

//-Este objeto contiene la informacion necesaria para cada pagina, entonces luego solo tenemos que llamarlo desde el template
