//-VARIABLES
include ../config/config

//-MIXINS si los vamos a necesitar

include ../mixins/mix_head

<!DOCTYPE html>
html(lang="es")
    head
        block head
            include head.pug
    
    //-BODY
    body
        //-HEADER
        header.header
            include header.pug

        //-MAIN
        main.main
            block main

        //-FOOTER
        footer.footer   
            include footer.pug